# Dependencies
node_modules/

# Build output
dist/
out/

# Packaging
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Extension test runs
.vscode-test/
.vscode-test-web/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
.idea/
